@import '~@angular/material/_theming.scss';
@import '~@angular/cdk/overlay-prebuilt.css';
//@import '~@angular/material/core/theming/all-theme';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// Plus imports for other components in your app.
// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$cmt-primary: mat-palette($mat-blue);
$cmt-accent: mat-palette($mat-blue, A200, A100, A400);
// The warn palette is optional (defaults to red).
$cmt-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$cmt-theme: mat-light-theme($cmt-primary, $cmt-accent, $cmt-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cmt-theme);
mat-tab-header {
	align-self: center;
}
/deep/ mat-select#distinctValuesCount {
	vertical-align: top;
}
