<div class="searchableList">
    <div class="caption" *ngIf="showHeader">
        <h3 style="display: inline-block;">{{caption}}</h3>
        <div style="display: inline-block;">
            <ng-content select="header"></ng-content>
        </div>
    </div>
    <div class="search" *ngIf="showSearchBox">
        <cmt-inline-search [displayText]="'Search'" [nullValueText]="'Search'" (search)="onSearch($event)"></cmt-inline-search>
    </div>
    <div style="clear: both;">
    </div>
    <div class="content" [ngStyle]="{ 'height': contentHeight }">
        <perfect-scrollbar>
            <div *ngFor="let item of (items$ | async); trackBy: elementTrack" class="listItem" [ngClass]="{ 'selected': (selectedItem == item || selectedItemId === item[idColumnName]) }" (click)="onClick($event, item)">
                <span *ngIf="!itemTemplate">{{item}}</span>
                <ng-template *ngIf="itemTemplate" [TemplateWrapper]="itemTemplate" [item]="item"></ng-template>
            </div>
        </perfect-scrollbar>
    </div>
</div>