.searchableList {
    width: 100%;
}

.searchableList .caption {
    float: left;
    font-size: large;
    padding-left: 15px;
    padding-top: 6px;
    height: 40px;
}

.searchableList .search {
    float: right;
    height: 40px;
}

.searchableList .content {
    width: 100%;
}

.searchableList .content .listItem {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
}

.selected {
    background-color: #eeeeee;
}