commands:
    removeAddUser:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\pre\30_AddUser.bat"
        ignoreErrors: true
    removeLogonPermission:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\pre\35_EnsureLogonPermission.ps1"
        ignoreErrors: true
    removeWorkingDirectory:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\pre\40_CreateWorkingDirectoryAndGrantPermission.bat"
        ignoreErrors: true
    removePythonScript:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\post\50_CopyAndInstallPython.bat"
        ignoreErrors: true
    removeCopyService:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\post\55_CopyServices.bat"
        ignoreErrors: true
    removeEnsureServiceRunning:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\post\60_EnsureServiceIsRunning.bat"
        ignoreErrors: true
    removeAddUserBak:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\pre\30_AddUser.bat.bak"
        ignoreErrors: true
    removeLogonPermissionBak:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\pre\35_EnsureLogonPermission.ps1.bak"
        ignoreErrors: true
    removeWorkingDirectoryBak:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\pre\40_CreateWorkingDirectoryAndGrantPermission.bat.bak"
        ignoreErrors: true
    removePythonScriptBak:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\post\50_CopyAndInstallPython.bat.bak"
        ignoreErrors: true
    removeCopyServiceBak:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\post\55_CopyServices.bat.bak"
        ignoreErrors: true
    removeEnsureServiceRunningBak:
        command: DEL /Q /F "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\post\60_EnsureServiceIsRunning.bat.bak"
        ignoreErrors: true