files:
  "C:\\Program Files\\Amazon\\ElasticBeanstalk\\hooks\\appdeploy\\pre\\30_AddUser.bat":
    content: |
           @ECHO OFF  
           net user | find /i "CMT_USER"  
           if %ERRORLEVEL% NEQ 0 net user CMT_USER 1L0w3J4V4 /add /comment:"CMT RDM USER" /passwordchg:NO  
           net user | find /i "CMT_USER"  
           if %ERRORLEVEL% EQU 0 wmic useraccount where "name='CMT_USER'" set passwordexpires=FALSE  
           sc query CMTFileCopy | find "RUNNING"  
           if %ERRORLEVEL% EQU 0 sc stop CMTFileCopy  
           sc query CMTFileCopy   
           if %ERRORLEVEL% NEQ 0 (  
           GOTO CONTINUE  
           )  
           :LOOP  
           sc query CMTFileCopy | find "STOPPED"  
           if %ERRORLEVEL% EQU 0 (  
           GOTO CONTINUE  
           ) ELSE (  
           Timeout /T 5 /Nobreak  
           GOTO LOOP  
           )  
           :CONTINUE 
