files:
  "C:\\Program Files\\Amazon\\ElasticBeanstalk\\hooks\\appdeploy\\post\\50_CopyAndInstallPython.bat":
    content: |
          xcopy C:\inetpub\wwwroot\Files\python-3.5.0.exe C:\inetpub\Services\CMTFileCopy\ /e /i /h /y
          del C:\inetpub\wwwroot\Files\python-3.5.0.exe
          if not exist "c:\Program Files (x86)\Python 3.5\python.exe"  C:\inetpub\Services\CMTFileCopy\python-3.5.0.exe /quiet InstallAllUsers=1 PrependPath=1 Include_test=0
          "C:\Program Files (x86)\Python 3.5\python.exe" -m pip install boto3
