files:
  "C:\\Program Files\\Amazon\\ElasticBeanstalk\\hooks\\appdeploy\\post\\55_CopyServices.bat":
    content: |
          xcopy C:\inetpub\wwwroot\Services\* C:\inetpub\Services\CMTFileCopy /e /i /h /y 
  "C:\\Program Files\\Amazon\\ElasticBeanstalk\\hooks\\appdeploy\\post\\60_EnsureServiceIsRunning.bat":
    content: |
          sc query CMTFileCopy | find "does not exist"  
          if %ERRORLEVEL% EQU 0 sc create CMTFileCopy binPath= "C:\inetpub\Services\CMTFileCopy\CMTFileCopy.exe" DisplayName= "CMT RDM File Copy" start= auto obj= %ComputerName%\CMT_USER password= "1L0w3J4V4"  
          sc start CMTFileCopy 