<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="database" xsi:type="Database">
      <connectionStringName>NLogConnection</connectionStringName>

      <commandText>
        INSERT INTO CMT_ERROR_LOG
        (
        [DATE]
        ,[LEVEL]
        ,[LOGGER]
        ,[MESSAGE]
        ,[STACKTRACE]
        ,[MACHINE_NAME]
        ,[USER_NAME]
        ,[VIRTUAL_PATH]
        ,[QUERY_STRING]
        ,[USER_AGENT_STRING]
        ,[THREAD]

        ,[FORM_DATA])
        values(@time_stamp, @level, @logger, @message, @stacktrace, @machinename, @user_name, @VirtualPath, @QueryString, @UserAgentString,@threadid,  @FormData);
      </commandText>

      <parameter name="@time_stamp" layout="${event-properties:item=DateTime} "/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@stacktrace" layout="${event-properties:item=StackTrace} "/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${event-properties:item=UserName} "/>
      <parameter name="@VirtualPath" layout="${event-properties:item=VirtualPath} "/>
      <parameter name="@QueryString" layout="${event-properties:item=QueryString} "/>
      <parameter name="@UserAgentString" layout="${event-properties:item=UserAgentString} "/>
      <parameter name="@FormData" layout="${event-properties:item=FormData} "/>
      <parameter name="@threadid" layout="${threadid}"/>



    </target>
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="database"/>
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
