<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="FileStorageFolder" value="C:\inetpub\wwwroot\App_Data\Storage" />
    <add key="SourceFilesFolder" value="C:\inetpub\wwwroot\App_Data\Source" />
    <add key="ReturnErrorMessage" value="True"/>
    <add key="FileUploadCheckInterval" value="0:0:10"/>
    <add key="DistinctCheckInterval" value="0:0:10"/>
    <add key="UseNewDistinctor" value="true"/>
    <add key="DocumentationVersion" value="1.0.0"/>
    <add key="FileExtractorInterval" value="14:00:00"/>
    <add key="LoadExtractsToS3" value="true"/>
    <add key="LoadExtractsToLocationPath" value="false"/>
    <add key="FileExtractorLocationPath" value="C:\Files\"/>
    <add key="BrandUploadInterval" value="1:0:0"/>
    <add key="AttributeUploadInterval" value="1:0:0"/>
    <add key="RdmApplicationIPs" value="10.46.1.116"/>
    <add key="DisableWorkers" value="false"/>
    <add key="DisableArchiving" value="true"/>
    <add key="ArchiveDelayOffset" value="0:0:15:0"/>
    <add key="CMTFileCopyInterval" value="30:0:0:0"/>
    <add key="CMTFileCopyMaxFileAgeForProcessing" value="30:0:0:0"/>
    <add key="CommandTimeout" value="2400"/>
    <add key="CorsUrls" value="http://localhost:4200,http://metadata-dev-app.s3-website-eu-west-1.amazonaws.com,http://cmt-dev.pfizer.com,http://cmt-qa.pfizer.com,http://lexicon-uat.pfizer.com"/>
  </appSettings>

  <awsConfiguration xdt:Transform="Replace">
    <add name="AttributeUploader" accessKey="key" secretKey="secret" region="eu-west-1" bucketName="pfe-baiaes-eu-w1-nprod-project" directory="cmt\beanstalk\Files\qa\ProductPackTemp" />
    <add name="BrandUploader" accessKey="key" secretKey="secret" region="eu-west-1" bucketName="pfe-baiaes-eu-w1-nprod-project" directory="cmt\beanstalk\Files\qa\BrandsTemp" />
    <add name="ExtractsUploader" accessKey="key" secretKey="secret" region="eu-west-1" bucketName="pfe-baiaes-eu-w1-nprod-project" directory="cmt/beanstalk/Files/qa/Extracts" />
    <add name="S3ImportFileSource" accessKey="key" secretKey="secret" region="eu-west-1" bucketName="pfe-baiaes-eu-w1-nprod-project" directory="cmt/beanstalk/Files/qa/Imports" />
    <add name="ProcessedFileArchive" accessKey="key" secretKey="secret" region="eu-west-1" bucketName="pfe-baiaes-eu-w1-nprod-project" directory="cmt/beanstalk/Files/qa/Archive" />
    <add name="CMTFileCopySource" accessKey="key" secretKey="secret" region="eu-west-1" bucketName="pfe-baiaes-eu-w1" directory="DataWorks/Data/CERTIFIED/REGIONAL VIEWS/eMCM/EMAIL" />
    <add name="CMTFileCopyDest" accessKey="key" secretKey="secret" region="eu-west-1" bucketName="pfe-baiaes-eu-w1-nprod-project" directory="cmt/beanstalk/Files/qa/Imports" />
  </awsConfiguration>


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <security>
      <authentication>
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>

</configuration>
