<style>
    .icon-style {
        font-size: 24px;
        line-height: 24px;
        width: 24px;
        color: #1696E4;
    }

    .right {
        max-height: 100%;
        overflow: hidden;
        padding-bottom: 0;
    }

    .full-height {
        height: 100%;
    }

    .content {
        box-sizing: border-box;
        height: 100%;
        max-height: 100%;
        padding-bottom: 15px;
    }

</style>

<cmt-dialog [title]="addNewValueFor" placeholder="Enter value..." [okText]="'Save'" [value]=""
    [showPrompt]="dialogVisible" (valueEmitted)="addValue($event)">
</cmt-dialog>

<div class="full-height">
    <perfect-scrollbar>
        <mat-card class="right details" *ngIf="selectedObject" [ngClass]="{ 'full-height': !schemaEdit}">
            <div style="margin-bottom: 10px;">
                <div style="float:right; margin-top:-5px;">
                    <ng-content select="[header]"></ng-content>

                </div>
                <h2>
                    <a *ngIf="selectedObject.Type == itemType.Schema && false" (click)="downloadSchema()"
                        style="text-decoration:none; color:#000;">
                        <mat-icon class="icon-style">&#xE2C0;</mat-icon>
                    </a>
                    <button type="button" class="icon-button" style="float: right; margin-top:-10px;"
                        *ngIf="showSchemaMenu" mat-icon-button [matMenuTriggerFor]="appMenu">
                        <mat-icon>&#xE5D4;</mat-icon>
                    </button>
                    <mat-menu #appMenu="matMenu">
                        <button type="button" mat-menu-item *ngIf="allowEdit && !schemaEdit" (click)="editClick()">
                            <mat-icon>&#xE834;</mat-icon>Select Elements
                        </button>
                        <button type="button" mat-menu-item *ngIf="allowActivate && !schemaEdit"
                            (click)="showActivationConfirmation()">
                            <mat-icon>&#xE3EC;</mat-icon>Activate
                        </button>
                        <button type="button" mat-menu-item *ngIf="allowDeactivate"
                            (click)="showDeactivationConfirmation(selectedObject.Type)">
                            <mat-icon>&#xE3EB;</mat-icon>Deactivate
                        </button>
                        <button type="button" mat-menu-item *ngIf="allowClone" (click)="onCloneSchema()">
                            <mat-icon>&#xE062;</mat-icon>Clone
                        </button>
                        <button type="button" mat-menu-item *ngIf="allowDelete" (click)="deleteSchema()">
                            <mat-icon>&#xE872;</mat-icon>Delete
                        </button>
                    </mat-menu>
                    <cmt-inline-edit #elementNameEditor style="display: inline-block;"
                        (valueChange)="updateElementName(selectedObject.Id,selectedObject.Name, elementNameEditor)"
                        nullValueText="Element name" *ngIf="selectedObject.Type === itemType.Element"
                        [displayText]="displayName" [isRequired]="true" [(ngModel)]="selectedObject.Name">
                    </cmt-inline-edit>
                    <span *ngIf="selectedObject.Type !== itemType.Element"
                        style="line-height:24px; vertical-align:top; font-size: 20px;">{{ displayName }}</span>
                    <a *ngIf="allowAddChild && showLovDetails"
                        (click)="showDialog(selectedObject.Id, selectedObject.Name)"
                        style="text-decoration:none; color:#313131;">
                        <mat-icon class="icon-style">&#xE147;</mat-icon>
                    </a>
                </h2>
            </div>
            <div class="content">
                <ng-container *ngIf="showContent">
                    <ng-content select="[body]"></ng-content>
                </ng-container>
                <cmt-metadata-schema-detail *ngIf="selectedObject.Type == itemType.Schema" [editMode]="schemaEdit"
                    [selectedObject]="selectedObject"></cmt-metadata-schema-detail>
                <cmt-metadata-value-detail [reverseColumns]="checkFlag(selectedObject?.Attributes, 2)"
                    availableCountries="availableCountries"
                    *ngIf="!hideValueDetails && (selectedObject.IsLov || selectedObject.Type==itemType.Item)"
                    [selectedObject]="selectedObject" [readonly]="readonly" (addChild)="onAddChild($event)"
                    (saved)="onSaved($event)">
                </cmt-metadata-value-detail>
            </div>
            <div style="clear:both;"></div>
        </mat-card>

        <schema-element-selection (closeEdit)="onCloseSchemaEdit($event)" [schemaId]="selectedObject.Id"
            *ngIf="selectedObject && selectedObject.Type==itemType.Schema && schemaEdit">
        </schema-element-selection>
    </perfect-scrollbar>
    <cmt-popup [title]="'Warning'" [okText]="'Yes'" [cancelText]="'No'" [value]="true"
        [showPrompt]="confirmActivationPopupVisible" (valueEmitted)="confirmActivation($event)">
        You are going to activate schema '{{ selectedObject && selectedObject.Name}}'.<br /> After schema activation,
        managing elements for it, will not be possible.<br /><br /> Proceed with schema activation ?
    </cmt-popup>
    <cmt-popup [title]="'Warning'" [okText]="'Yes'" [cancelText]="'No'" [value]="true"
        [showPrompt]="confirmSchemaDeactivationPopupVisible" (valueEmitted)="confirmDeactivation($event)">
        You are going to deactivate schema '{{ selectedObject && selectedObject.Name}}'.<br />
        <br /> Proceed with schema deactivation ?
    </cmt-popup>

</div>
