.wizard-step
{
    margin-bottom: 20px;
}

.wizard-step .header
{
    height: 28px;
    line-height: 28px;
}

.wizard-step .header .circle
{
    width: 24px; 
    height: 24px;
    margin-left: 2px;
    background: rgb(44, 143, 236); 
    color: rgb(255, 255, 255);
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

.wizard-step .header .circle-checked
{
    color: rgb(44, 143, 236);
    display: inline-block;
    font-size: 28px;
}

.wizard-step .header .title
{
    font-size: large;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.wizard-step .content
{
    margin-top: 15px;
}