<div *ngIf="visible" class="wizard-step">
    <div *ngIf="completed">
        <div class="header">
            <mat-icon class="circle-checked">&#xE86C;</mat-icon>
            <span class="title" style="padding-bottom: 14px;">{{title}}</span>
        </div>
    </div>
    <div *ngIf="!completed">
        <div class="header">
            <div class="circle">{{sequence}}</div>
            <span class="title">{{title}}</span>
        </div>
        <div class="content">
            <ng-content></ng-content>
        </div>
    </div>
</div>