.data-table
{

}

.data-table .table-wrapper
{
    
}

.data-table .table-wrapper table
{
    width: 100%;
    border-spacing: 0px;
}

.data-table .table-wrapper table tr
{
    height: 48px;
}

.data-table .table-wrapper thead tr th
{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid #BEBED3;
}

.data-table .table-wrapper thead tr th .caption
{
    line-height: 24px;
    vertical-align: top;
}

.data-table .table-wrapper tbody tr td
{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    border-bottom: 1px solid #BEBED3;
}

.data-table .pagination-wrapper
{
    padding-top: 10px;
}

.selected
{
    background-color: #C4C4C4;
}