<mat-radio-group [(ngModel)]="selectedTagLevel" class="radio-group">
  <mat-radio-button [value]="tagLevel.Schema" class="radio-button">
    Schema
  </mat-radio-button>
  <mat-radio-button [value]="tagLevel.ElementValue" class="radio-button">
    Element value
  </mat-radio-button>
  <mat-radio-button [value]="tagLevel.Country" class="radio-button">
    Country
  </mat-radio-button>
</mat-radio-group>

<mat-radio-group [(ngModel)]="selectedValueTagType" class="radio-group">
  <mat-radio-button [value]="valueTagType.Exclude" class="radio-button">
    Exclude
  </mat-radio-button>
  <mat-radio-button [value]="valueTagType.Include" class="radio-button">
    Include
  </mat-radio-button>
</mat-radio-group>

<ng-container [ngSwitch]="selectedTagLevel">
  <div *ngSwitchCase="tagLevel.Schema" style="margin: 20px 0; max-width: 300px;">
    <mat-select aria-label="Select schema" required placeholder="Select schema" [(ngModel)]="selectedTagSchema">
      <mat-option *ngFor="let schemaTag of schemaTags$ | async" [value]="schemaTag.Name">{{schemaTag.Name}}</mat-option>
    </mat-select>
  </div>

  <div *ngSwitchCase="tagLevel.ElementValue" fxLayout="row" fxLayoutGap="20px"
    style="margin: 20px 0; max-width: 500px;">
    <mat-select aria-label="Element Name" required placeholder="Element Name" [(ngModel)]="selectedTagElement">
      <mat-option *ngFor="let element of metadataElements" [value]="element">{{element.Name}}</mat-option>
    </mat-select>
    <mat-select aria-label="Value" required placeholder="Value" [(ngModel)]="selectedTagValueId">
      <mat-option *ngFor="let value of elementValueItems" [value]="value.Id">{{value.Name}}</mat-option>
    </mat-select>

  </div>

  <div *ngSwitchCase="tagLevel.Country" style="margin: 20px 0; max-width: 300px;">
    <mat-select aria-label="Select country" required placeholder="Select country" [(ngModel)]="selectedTagCountryId">
      <mat-option *ngFor="let country of countries$ | async" [value]="country.Id">{{country.Code}}</mat-option>
    </mat-select>
  </div>
</ng-container>

<div class="row cmt-header clear">
  <div style="width: 35%;">
    Global value
  </div>
  <div style="width: 35%;">
    global code
  </div>
</div>
<div class="row" *ngFor="let el of metadataElement?.Children">
  <div style="width: 35%;" title="{{el?.Name}}">
    <mat-checkbox #selection [disableRipple]="true" [(ngModel)]="el.IsSelected"></mat-checkbox>
    {{el?.Name}}
  </div>
  <div class="description" style="width: 35%;">
    {{el?.DataType}}
  </div>
</div>
<div style="margin-top: 10px;">
  <!-- <mat-card-actions> -->
  <button type="button" mat-raised-button color="primary" (click)="addTags()"> Save &amp; Close </button>
  <button type="button" mat-raised-button (click)="closeAddTagsWindow()"> Cancel </button>
  <!-- </mat-card-actions> -->
</div>