<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>AWS_DEV</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>obj\Release\package\CMT_AWS_DEV.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NLogConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=gbi-cdm-sql-dev.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com;Initial Catalog=CMT2;User ID=user;Password=pass" Name="Data Source=gbi-cdm-sql-dev.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com;Initial Catalog=CMT2;User ID=user;Password=pass;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=CF-VM-SQL4;Initial Catalog=CMT;User ID=user;Password=pass" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NLogConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=CF-VM-SQL4;Initial Catalog=CMT;User ID=user;Password=pass;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CMTEntitiesConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=gbi-cdm-sql-dev.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=CMT2;Integrated Security=False;Persist Security Info=True;User ID=user;Password=pass" Name="Data Source=gbi-cdm-sql-dev.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=CMT2;Integrated Security=False;Persist Security Info=True;User ID=user;Password=pass;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CMT.DL.CmtEntities, CMT.DL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CMTEntitiesConnectionString-Web.config Connection String">
      <ParameterValue>metadata=res://CMT.DL/CmtDataModel.csdl|res://CMT.DL/CmtDataModel.ssdl|res://CMT.DL/CmtDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=gbi-cdm-sql-dev.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=CMT2;Integrated Security=False;Persist Security Info=True;User ID=user;Password=pass;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NLogConnection-Web.config Connection String">
      <ParameterValue>Data Source=gbi-cdm-sql-dev.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com;Initial Catalog=CMT2;User ID=user;Password=pass;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>