<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>AWS_PROD</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>obj\Release\Package\CMT_AWS_PROD.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CMTEntitiesConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=gbi-cmt-sql-prd.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=CMT;Integrated Security=False;Persist Security Info=True;User ID=user;Password=Pfizer1234" Name="Data Source=gbi-cmt-sql-prd.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=CMT;Integrated Security=False;Persist Security Info=True;User ID=user;Password=Pfizer1234; " />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cf-vm-sql4;Initial Catalog=CMT_PFIZER_DEV;Integrated Security=False;Persist Security Info=True;User ID=user;Password=pass" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CMTEntitiesConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://CMT.DL/CmtDataModel.csdl|res://CMT.DL/CmtDataModel.ssdl|res://CMT.DL/CmtDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cf-vm-sql4;Initial Catalog=CMT_PFIZER_DEV;Integrated Security=False;Persist Security Info=True;User ID=user;Password=pass&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NLogConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=gbi-cmt-sql-prd.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=CMT;User ID=user;Password=Pfizer1234" Name="Data Source=gbi-cmt-sql-prd.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=CMT;User ID=user;Password=Pfizer1234;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=CF-VM-SQL4;Initial Catalog=CMT_PFIZER_DEV;User ID=user;Password=pass" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NLogConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=CF-VM-SQL4;Initial Catalog=CMT_PFIZER_DEV;User ID=user;Password=pass;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NLogConnection-Web.config Connection String">
      <ParameterValue>Data Source=gbi-cmt-sql-prd.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=CMT;User ID=user;Password=Pfizer1234;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CMTEntitiesConnectionString-Web.config Connection String">
      <ParameterValue>metadata=res://CMT.DL/CmtDataModel.csdl|res://CMT.DL/CmtDataModel.ssdl|res://CMT.DL/CmtDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=gbi-cmt-sql-prd.c3bxqx5m33f7.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=CMT;Integrated Security=False;Persist Security Info=True;User ID=user;Password=Pfizer1234; "</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>