<mat-card class="element-selection details">
    <div style="float: right; cursor: pointer;" (click)="toggleFilter()" [ngClass]="{'filter-active': isFilterActive}"
        title="{{filterMessage}}">
        <mat-icon>&#xE152;</mat-icon>
    </div>
    <div style="width: 200px">
        <cmt-inline-search [displayText]="'Metadata Element'" [(ngModel)]="searchTerm" [nullValueText]="'Search'"
            style="width: 200px;"></cmt-inline-search>
    </div>
    <div class="row cmt-header clear">
        <div style="width: 35%;">
            Metadata Element Title
        </div>
        <div style="width: 13%;">
            Data Type
        </div>
        <div style="width: 30%;">
            Default Value
        </div>
        <div style="width: 12%;">
            Required
        </div>
        <div style="width: 3%;">
        </div>
    </div>

    <perfect-scrollbar style="margin: 0 -24px; padding: 0 24px;">
        <div class="row value" *ngFor="let el of data">
            <div style="width: 35%;" title="{{el?.Name}}">
                <mat-checkbox #selection [disableRipple]="true" (change)="checkedChanged($event,el, selection)"
                    [(ngModel)]="el.Status"></mat-checkbox>
                {{el.Name}}
            </div>
            <div class="description" style="width: 13%;">
                {{el.DataType}}
            </div>
            <div class="description" title="{{ el?.DefaultValue ? el?.DefaultValue?.Name : 'not defined' }}"
                style="width: 30%;">
                {{ el?.DefaultValue?.Name ? el?.DefaultValue?.Name : 'not defined' }}
            </div>
            <div class="description" style="width: 12%; padding-left: 12px;">
                <mat-checkbox *ngIf="el?.IsRequired" [disabled]="true" [checked]="true"></mat-checkbox>
            </div>
            <div class="description" style="width: 3%;">
                <div *ngIf="el?.Status && !el?.InProgress" (click)="edit(el)"
                    style="background-color:#1696E4; height:20px; width:20px; text-align:center; border-radius:11px;">
                    <mat-icon class="edit-icon">&#xE3C9;</mat-icon>
                </div>
                <div *ngIf="el?.InProgress" style="font-size:12px; color:#1696E4;">saving...</div>
            </div>
        </div>
    </perfect-scrollbar>
    <mat-card-actions><button type="button" mat-button (click)="back()"> Close </button>
    </mat-card-actions>
</mat-card>
<cmt-popup [title]="'Edit LOV in schema'" class="editLov" [okText]="'Save'" [cancelText]="'Cancel'" [value]="true"
    [showPrompt]="editLovPoupVisible" (valueEmitted)="saveSchemaElement($event)">
    <div class="field-header">{{editElement?.Name}}</div>
    <br />
    <div class="field-header">Default value</div>
    <mat-form-field *ngIf="isLovOnPopup">
        <mat-select style="width:200px;" [(ngModel)]="defaultvalueOnPopup">
            <mat-option [value]="notDefinedValue">No default</mat-option>
            <mat-option *ngFor="let option of dropdownItems" [value]="option.Value">{{option.Name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="!isLovOnPopup">
        <input matInput [(ngModel)]="defaultvalueOnPopup" floatingPlaceholder="false" placeholder="No default" />
    </mat-form-field>
    <br />
    <br />
    <mat-checkbox [(ngModel)]="requiredOnPopup"> Required </mat-checkbox>
</cmt-popup>
