<div class="tags">
    <div class="names" #names (click)="startEditMode()" [ngClass]="{'edit-mode': editMode }">
        <ng-template ngFor let-tag [ngForOf]="tags">
            <span class="one-tag new-tag">{{tag.Name}} <mat-icon *ngIf="editMode" (click)="onRemoveTag($event, tag);">&#xE5C9;</mat-icon></span>
        </ng-template>
        <div class="end-edit-mode-button" *ngIf="editMode" (click)="closeEditMode($event)">
            <mat-icon>&#xE5CD;</mat-icon>
        </div>
    </div>
</div>