<div [style.display]="active ? 'block' : 'none'">
    <mat-card class="modalDialog">
        <h3>{{caption}}</h3>
        <h4>{{description}}</h4>
        <mat-card-content class="modalContent">
            <div style="width: 100%;">
                <div class="previousButton">
                    <button *ngIf="buttonPreviousVisible" mat-button type="button" (click)="onPreviousClick()">
                        <mat-icon>&#xE314;</mat-icon>
                        {{buttonPreviousText}}
                    </button>
                </div>
                <div class="content">
                    <ng-content>
                    </ng-content>
                </div>
                <div class="nextButton">
                    <button *ngIf="buttonNextVisible" mat-button type="button" (click)="onNextClick()">
                        {{buttonNextText}}
                        <mat-icon>&#xE315;</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions style="text-align:right;">
            <button *ngIf="buttonCancelVisible" mat-button type="button" (click)="onCancelClick()">{{cancelText}}</button>
            <button *ngIf="buttonOkVisible" [disabled]="!selectedValue || selectedValue?.valueIds?.length === 0" mat-button type="button" (click)="onOkClick()" color="blue">{{okText}}</button>
        </mat-card-actions>
    </mat-card>
</div>