h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}

.modalDialog {
    max-width: 600px;
    position: relative;
    margin: 20px auto;
    /*padding: 0px 0px 25px;*/
    background: #fff;
}

.modalContent {
    padding: 20px 0px 0px;
}

button {
    text-transform: uppercase;
}