<div class="message-container" [style.zIndex]="zIndex">
    <div #msg *ngFor="let message of messages" class="message-item-container" [ngClass]="{'info': message.severity == 'info',
        'warning': message.severity == 'warning', 'error': message.severity == 'error', 'success': message.severity == 'success'}">
        <div class="message-item">
            <div class="message">
                <span *ngIf="message.severity != 'error' || message.isConnectionError === true" class="title">{{message.summary}}</span>
                <span *ngIf="message.severity == 'error' && !message.isConnectionError" class="title">Unexpected error occured. Please contact support.</span>
                <!--<span>{{message.detail}}</span>-->
                <span style="display:inline-block; cursor:pointer;text-indent:20px;" (click)="remove(message, msg)">
                CLOSE
            </span>

            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>