* html .message-container {
    position: absolute;
}

* html .message-item {
    padding-bottom: 0;
}

.message-container {
    position: relative;
}

.message-item-container {
    position: absolute;
    margin: 0 auto 10px;
    width: 100%;
    opacity: 0.95;
    filter: alpha(opacity=95);
}

.message-item {
    display: block;
    padding: 10px 15px;
}

.message-item p {
    padding: 0;
    margin: 0;
}

.title {
    font-weight: bold;
    padding: 0 0 7px 0;
    /*display: block;*/
}

.message {
    padding: 20px 0;
    /*width:220px;*/
    /*width: 100%;*/
    text-align: center;
}

.message p {
    font-weight: normal;
}

.success {
    color: #000;
    background-color: #689f38;
}

.error {
    color: #fff;
    background-color: #F56023;
}

.info {
    color: #fff;
    background-color: #039be5;
}

.warning {
    color: #000;
    background-color: #FCEAA3;
}