<span [hidden]="editMode" (click)="onClick()">
    <span class="label inline-edit-label {{ value ? '' : 'default-value' }}">
        {{this.isValid && displayText ?  displayText: value || nullValueText}}&nbsp;
    </span>
</span>
<span *ngIf="editMode" class="inline-edit">
    <mat-form-field>
        <input #matInput matInput *ngIf="type === 'textbox'" [(ngModel)]="value" floatingPlaceholder="false"
            placeholder="{{nullValueText}}" (blur)="onBlur()" (keypress)="eventHandler($event)" (change)="onChange()" />
        <textarea #matTextarea matInput *ngIf="type === 'textarea'" [(ngModel)]="value" floatingPlaceholder="false"
            placeholder="{{nullValueText}}" rows="5" (blur)="onBlur()" (change)="onChange()"></textarea>
        <mat-select #matSelect *ngIf="type === 'dropdown'" [(ngModel)]="value" (closed)="onBlur()">
            <mat-option (click)="onChange()">No default</mat-option>
            <mat-option *ngFor="let option of dropdownItems" [value]="option[valueField]" (click)="onChange()">
                {{option[textField]}}</mat-option>
        </mat-select>
    </mat-form-field>
</span>
<span class="validationMessage" *ngIf="!isValid">Value can not be empty</span>
