.inline-edit-label {
	display: inline-block;
	width: 100%;
}

mat-input,
mat-textarea {
	width: 100%;
}

.default-value {
	color: #a2a2a2;
}

.validationMessage {
	font-size: 12px;
	color: #d0021b;
}
