<style>
    .section {
        margin: 0 0 15px;
        vertical-align: top;
    }

    .section a {
        color: #1696E4 !important;
        text-decoration: none !important;
        font-weight: bold !important;
        line-height: 26px !important;
    }

</style>
<div *ngIf="!sourceMdElement">
    <mat-progress-spinner mode="indeterminate" color="primary" [style.width]="'20px'" [style.height]="'20px'">
    </mat-progress-spinner>
</div>
<div *ngIf="sourceMdElement" style="margin-bottom:24px;">
    <element-type-change-popup [visible]="showChangeTypePopupVisible" [elementTypeId]="sourceMdElement.TypeId"
        (change)="changeElementType($event)">
    </element-type-change-popup>
    <div class="section">
        <div class="row cmt-header noborder">
            <div>
                Metadata Element Description
            </div>
        </div>
        <div class="row">
            <div>
                <cmt-inline-edit type="textarea" [isRequired]="false" [readonly]="readonly || !allowEdit"
                    (valueChange)="updateElementDescription(selectedObject.Id, sourceMdElement.Description)"
                    [(ngModel)]="sourceMdElement.Description"
                    [nullValueText]="'Please enter metadata element description'"></cmt-inline-edit>
            </div>
        </div>
    </div>
    <div class="section" style="width:49.5%; display:inline-block; box-sizing:border-box; padding-right:24px;">
        <div>
            <div class="row cmt-header noborder">
                <div>
                    Default value
                </div>
            </div>
            <div class="row noborder">
                <div>
                    <cmt-inline-edit #defaultDropDown *ngIf="selectedObject.IsLov" [readonly]="readonly || !allowEdit"
                        [dropdownItems]="dropdownItems" [isRequired]="false" [textField]="'Name'" type="dropdown"
                        [displayText]="defaultDisplayText" (valueChange)="setDefaultValue(defaultValue.Value)"
                        [(ngModel)]="defaultValue.Value"></cmt-inline-edit>
                    <cmt-inline-edit *ngIf="!selectedObject.IsLov" [readonly]="readonly || !allowEdit"
                        [isRequired]="false" [displayText]="defaultDisplayText"
                        (valueChange)="setDefaultValue(defaultValue.Value)" [(ngModel)]="defaultValue.Value">
                    </cmt-inline-edit>
                </div>
            </div>
        </div>
        <div *ngIf="true">
            <div class="row cmt-header">
                <div>
                    Data type
                </div>
            </div>
            <div class="row">
                <div style="margin: 6px 0 !important" class="pointer" (click)="showChangeTypePopup();">
                    {{selectedObject.DataType}}
                </div>
            </div>
        </div>
        <div *ngIf="sourceMdElement && selectedObject.IsLov">
            <div class="row cmt-header" style="margin-right:0px;">
                <div>
                    LOV Labels
                </div>
            </div>
            <div class="row value" *ngFor="let label of sourceMdElement.LovLabels;trackBy: track;  let i = index"
                style="margin-right:0px;">
                <div>
                    <cmt-inline-edit [readonly]="readonly || !allowEdit" [displayText]="sourceMdElement.LovLabels[i]"
                        (valueChange)="updateLovLabels()" [(ngModel)]="sourceMdElement.LovLabels[i]"></cmt-inline-edit>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="width:49.5%; display:inline-block; box-sizing:border-box; padding-left:24px;">
        <div *ngIf="parentElement">
            <div class="row cmt-header noborder">
                <div>
                    Parent element
                </div>
            </div>
            <div class="row noborder">
                <div>
                    <a href="#" *ngIf="!readonly"
                        (click)="selectElement($event, parentElement.Value)">{{parentElement.Name}}</a>
                    <div *ngIf="readonly">{{parentElement.Name}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="dependentElements.length > 0">
            <div class="row cmt-header noborder">
                <div>
                    Dependent elements
                </div>
            </div>
            <div class="row noborder">
                <div *ngIf="!readonly">
                    <div *ngFor="let item of dependentElements"><a href="#"
                            (click)="selectElement($event, item.Value)">{{item.Name}}</a></div>
                </div>
                <div *ngIf="readonly">
                    <div *ngFor="let item of dependentElements">{{item.Name}}</div>
                </div>
            </div>
        </div>
        <div>
            <div class="row cmt-header noborder">
                <div>
                    Destination
                </div>
            </div>
            <div class="row third-party" *ngFor="let system of sortedSystems, let i = index">
                <mat-checkbox [disabled]="readonly || !allowEdit" (change)="selectionChanged(system, $event)"
                    [(ngModel)]="system.IsAllowed">{{system.Name}}</mat-checkbox>
            </div>
        </div>
    </div>
</div>
