CREATE TABLE CMT_ELEMENT_TYPE(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_ELEMENT_TYPE_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	NAME NVARCHAR(200) NOT NULL
)
GO

ALTER TABLE CMT_ELEMENT_TYPE
	ADD CONSTRAINT PK_CMT_ELEMENT_TYPE PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_COUNTRY(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_COUNTRY_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	NAME NVARCHAR(200) NOT NULL,
	CODE NVARCHAR(10) NOT NULL
)
GO

ALTER TABLE CMT_COUNTRY
	ADD CONSTRAINT PK_COUNTRY PRIMARY KEY(OBJECT_ID)
GO

ALTER TABLE CMT_COUNTRY
	ADD CONSTRAINT AK_COUNTRY_NAME UNIQUE(NAME)
GO

ALTER TABLE CMT_COUNTRY
	ADD CONSTRAINT AK_COUNTRY_CODE UNIQUE(CODE)
GO

CREATE TABLE CMT_METADATA_SCHEMA_ELEMENT_GROUP(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_METADATA_SCHEMA_ELEMENT_GROUP_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	NAME NVARCHAR(200) NOT NULL,
	[TYPE] TINYINT NOT NULL CONSTRAINT DF_CMT_METADATA_SCHEMA_ELEMENT_GROUP_TYPE DEFAULT(0)
)
GO

ALTER TABLE CMT_METADATA_SCHEMA_ELEMENT_GROUP
	ADD CONSTRAINT PK_CMT_METADATA_SCHEMA_ELEMENT_GROUP PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_METADATA_ELEMENT(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_METADATA_ELEMENT_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	NAME NVARCHAR(200) NOT NULL,
	TYPE_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_ELEMENT_TYPE_CMT_METADATA_ELEMENT 
		FOREIGN KEY REFERENCES CMT_ELEMENT_TYPE(OBJECT_ID),
	COUNTRY_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_COUNTRY_CMT_METADATA_ELEMENT
		FOREIGN KEY REFERENCES CMT_COUNTRY(OBJECT_ID)
)
GO

ALTER TABLE CMT_METADATA_ELEMENT
	ADD CONSTRAINT PK_CMT_METADATA_ELEMENT PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_METADATA_SCHEMA(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_METADATA_SCHEMA_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	NAME NVARCHAR(200) NOT NULL,
	COUNTRY_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_COUNTRY_CMT_METADATA_SCHEMA
		FOREIGN KEY REFERENCES CMT_COUNTRY(OBJECT_ID),
	IS_ACTIVE BIT NOT NULL CONSTRAINT DF_CMT_METADATA_SCHEMA_IS_ACTIVE DEFAULT(1)
)
ALTER TABLE CMT_METADATA_SCHEMA
	ADD CONSTRAINT PK_CMT_METADATA_SCHEMA PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_METADATA_SCHEMA_ELEMENT(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_METADATA_SCHEMA_ELEMENT_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	SCHEMA_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_METADATA_SCHEMA_CMT_METADATA_SCHEMA_ELEMENT
		FOREIGN KEY REFERENCES CMT_METADATA_SCHEMA(OBJECT_ID),
	ELEMENT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_METADATA_ELEMENT_CMT_METADATA_SCHEMA_ELEMENT
		FOREIGN KEY REFERENCES CMT_METADATA_ELEMENT(OBJECT_ID),
	GROUP_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_METADATA_SCHEMA_ELEMENT_GROUP_CMT_METADATA_SCHEMA_ELEMENT
		FOREIGN KEY REFERENCES CMT_METADATA_SCHEMA_ELEMENT_GROUP(OBJECT_ID),
	IS_REQUIRED BIT NOT NULL CONSTRAINT DF_CMT_METADATA_SCHEMA_ELEMENT_IS_REQUIRED DEFAULT(0)
)
GO
ALTER TABLE CMT_METADATA_SCHEMA_ELEMENT
	ADD CONSTRAINT PK_CMT_METADATA_SCHEMA_ELEMENT PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_VALUE_LIST(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_VALUE_LIST_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	NAME NVARCHAR(200) NOT NULL,
	PARENT_ID UNIQUEIDENTIFIER NULL 
)
GO

ALTER TABLE CMT_VALUE_LIST
	ADD CONSTRAINT PK_CMT_VALUE_LIST PRIMARY KEY(OBJECT_ID)
GO

ALTER TABLE CMT_VALUE_LIST
	ADD CONSTRAINT FK_CMT_VALUE_LIST_CMT_VALUE_LIST FOREIGN KEY(PARENT_ID)
		REFERENCES  CMT_VALUE_LIST(OBJECT_ID)
GO
--CREATE TABLE CMT_METADATA_ELEMENT_VALUE_LIST(
--	VALUE_LIST_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_VALUE_LIST_CMT_METADATA_ELEMENT_VALUE_LIST
--		REFERENCES CMT_VALUE_LIST(OBJECT_ID),
--	ELEMENT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_METADATA_ELEMENT_CMT_METADATA_ELEMENT_VALUE_LIST
--		REFERENCES CMT_METADATA_ELEMENT(OBJECT_ID)
--)
--GO

--ALTER TABLE CMT_METADATA_ELEMENT_VALUE_LIST
--	ADD CONSTRAINT PK_CMT_METADATA_ELEMENT_VALUE_LIST PRIMARY KEY(ELEMENT_ID, VALUE_LIST_ID)
--GO

CREATE TABLE CMT_VALUE(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_VALUE_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	VALUE_LIST_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_VALUE_LIST_CMT_VALUE
		REFERENCES CMT_VALUE_LIST(OBJECT_ID),
	CHILD_LIST_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_VALUE_LIST_CMT_VALUE__CHILD
		REFERENCES CMT_VALUE_LIST(OBJECT_ID),
	TEXT_VALUE NVARCHAR(200) NOT NULL,
	[STATUS] TINYINT NOT NULL,
	REQUESTED_BY NVARCHAR(200) NULL,
	APPROVED_BY NVARCHAR(200) NULL,
	REJECTED_BY NVARCHAR(200) NULL
)
GO

ALTER TABLE CMT_VALUE
	ADD CONSTRAINT PK_CMT_VALUE PRIMARY KEY(OBJECT_ID)
GO


CREATE TABLE CMT_VALUE_DETAIL(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_VALUE_DETAIL_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	VALUE NVARCHAR(200) NOT NULL,
	COUNTRY_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_COUNTRY_CMT_VALUE_DETAIL
		FOREIGN KEY REFERENCES CMT_COUNTRY(OBJECT_ID),
	VALUE_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_VALUE_CMT_VALUE_DETAIL
		FOREIGN KEY REFERENCES CMT_VALUE(OBJECT_ID),
	[TYPE] TINYINT NOT NULL CONSTRAINT DF_CMT_VALUE_DETAIL_TYPE DEFAULT(0)
)
GO

ALTER TABLE CMT_VALUE_DETAIL
	ADD CONSTRAINT PK_CMT_VALUE_DETAIL PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_CAMPAIGN(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_CAMPAIGN_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	NAME NVARCHAR(200) NOT NULL,
	COUNTRY_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_COUNTRY_CMT_CAMPAIGN
		FOREIGN KEY REFERENCES CMT_COUNTRY(OBJECT_ID)
)
GO

ALTER TABLE CMT_CAMPAIGN
	ADD CONSTRAINT PK_CMT_CAMPAIGN PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_IMPORT(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_IMPORT_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	COUNTRY_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_COUNTRY_CMT_IMPORT
		FOREIGN KEY REFERENCES CMT_COUNTRY(OBJECT_ID),
	STATUS TINYINT NOT NULL,
	[TYPE] TINYINT NOT NULL,
	[FILE_NAME] NVARCHAR(200) NOT NULL,
	[TEXT_SEPARATOR] TINYINT NOT NULL,
	COLUMN_SEPARATOR TINYINT NOT NULL,
	USE_HEADERS BIT NOT NULL,
	FIRST_ROW INT NOT NULL CONSTRAINT DF_CMT_IMPORT_FIRST_ROW DEFAULT(1)
)
GO

ALTER TABLE CMT_IMPORT
	ADD CONSTRAINT PK_CMT_IMPORT PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_DISTINCT_ROW(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_DISTINCT_ROW_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	IMPORT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_IMPORT_CMT_DISTINCT_ROW
		FOREIGN KEY REFERENCES CMT_IMPORT(OBJECT_ID),
	IS_HEADER BIT NOT NULL CONSTRAINT DF_CMT_DISTINCT_ROW_IS_HEADER DEFAULT(0),
	LINE_NUMBER INT NOT NULL,
	COLUMN_NAME NVARCHAR(150),
	VALUE NVARCHAR(MAX)
)
GO

ALTER TABLE CMT_DISTINCT_ROW
	ADD CONSTRAINT PK_CMT_DISTINCT_ROW PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_SOURCE_COLUMN(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_SOURCE_COLUMN_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	SCHEMA_ELEMENT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_METADATA_SCHEMA_ELEMENT_CMT_SOURCE_COLUMN
		FOREIGN KEY REFERENCES CMT_METADATA_SCHEMA_ELEMENT(OBJECT_ID),
	IMPORT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_IMPORT_CMT_SOURCE_COLUMN
		FOREIGN KEY REFERENCES CMT_IMPORT(OBJECT_ID),
	COLUMN_NAME NVARCHAR(150)
)
GO

ALTER TABLE CMT_SOURCE_COLUMN
	ADD CONSTRAINT PK_CMT_SOURCE_COLUMN PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_CAMPAIGN_VALUE(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_CAMPAIGN_VALUE_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	CAMPAIGN_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_CAMPAIGN_CMT_CAMPAIGN_VALUE
		FOREIGN KEY REFERENCES CMT_CAMPAIGN(OBJECT_ID),
	SCHEMA_ELEMENT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_METADATA_SCHEMA_ELEMENT_CMT_CAMPAIGN_VALUE
		FOREIGN KEY REFERENCES CMT_METADATA_SCHEMA_ELEMENT(OBJECT_ID),
	VALUE_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_VALUE_CMT_CAMPAIGN_VALUE
		FOREIGN KEY REFERENCES CMT_VALUE(OBJECT_ID),
	VALUE NVARCHAR(MAX) NULL
)
GO

ALTER TABLE CMT_CAMPAIGN_VALUE
	ADD CONSTRAINT PK_CMT_CAMPAIGN_VALUE PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_CAMPAIGN_IMPORT(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_CAMPAIGN_IMPORT_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	CAMPAIGN_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_CAMPAIGN_CMT_CAMPAIGN_IMPORT
		FOREIGN KEY REFERENCES CMT_CAMPAIGN(OBJECT_ID),
	IMPORT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_IMPORT_CMT_CAMPAIGN_IMPORT
		FOREIGN KEY REFERENCES CMT_IMPORT(OBJECT_ID),
	SCHEMA_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_METADATA_SCHEMA_CMT_CAMPAIGN_IMPORT
		FOREIGN KEY REFERENCES CMT_METADATA_SCHEMA(OBJECT_ID)
)
GO

ALTER TABLE CMT_CAMPAIGN_IMPORT
	ADD CONSTRAINT PK_CMT_CAMPAIGN_IMPORT PRIMARY KEY(OBJECT_ID)
GO




CREATE TABLE CMT_SOURCE_VALUE(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_SOURCE_VALUE_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	CAMPAIGN_VALUE_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_CAMPAIGN_VALUE_CMT_SOURCE_VALUE
		FOREIGN KEY REFERENCES CMT_CAMPAIGN_VALUE(OBJECT_ID),
	VALUE_FROM_LOAD NVARCHAR(MAX) NOT NULL
)

ALTER TABLE CMT_SOURCE_VALUE
	ADD CONSTRAINT PK_CMT_SOURCE_VALUE PRIMARY KEY(OBJECT_ID)
GO

CREATE TABLE CMT_SOURCE_TABLE(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_SOURCE_TABLE_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	IMPORT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_IMPORT_CMT_SOURCE_TABLE
		FOREIGN KEY REFERENCES CMT_IMPORT(OBJECT_ID),
	LINE_NUMBER INT NOT NULL,
	STRING_01 NVARCHAR(MAX) NULL,
	STRING_02 NVARCHAR(MAX) NULL,
	STRING_03 NVARCHAR(MAX) NULL,
	STRING_04 NVARCHAR(MAX) NULL,
	STRING_05 NVARCHAR(MAX) NULL,
	STRING_06 NVARCHAR(MAX) NULL,
	STRING_07 NVARCHAR(MAX) NULL,
	STRING_08 NVARCHAR(MAX) NULL,
	STRING_09 NVARCHAR(MAX) NULL,
	STRING_10 NVARCHAR(MAX) NULL,
	STRING_11 NVARCHAR(MAX) NULL,
	STRING_12 NVARCHAR(MAX) NULL,
	STRING_13 NVARCHAR(MAX) NULL,
	STRING_14 NVARCHAR(MAX) NULL,
	STRING_15 NVARCHAR(MAX) NULL,
	STRING_16 NVARCHAR(MAX) NULL,
	STRING_17 NVARCHAR(MAX) NULL,
	STRING_18 NVARCHAR(MAX) NULL,
	STRING_19 NVARCHAR(MAX) NULL,
	STRING_20 NVARCHAR(MAX) NULL,
	STRING_21 NVARCHAR(MAX) NULL,
	STRING_22 NVARCHAR(MAX) NULL,
	STRING_23 NVARCHAR(MAX) NULL,
	STRING_24 NVARCHAR(MAX) NULL,
	STRING_25 NVARCHAR(MAX) NULL,
	STRING_26 NVARCHAR(MAX) NULL,
	STRING_27 NVARCHAR(MAX) NULL,
	STRING_28 NVARCHAR(MAX) NULL,
	STRING_29 NVARCHAR(MAX) NULL,
	STRING_30 NVARCHAR(MAX) NULL,
	STRING_31 NVARCHAR(MAX) NULL,
	STRING_32 NVARCHAR(MAX) NULL,
	STRING_33 NVARCHAR(MAX) NULL,
	STRING_34 NVARCHAR(MAX) NULL,
	STRING_35 NVARCHAR(MAX) NULL,
	STRING_36 NVARCHAR(MAX) NULL,
	STRING_37 NVARCHAR(MAX) NULL,
	STRING_38 NVARCHAR(MAX) NULL,
	STRING_39 NVARCHAR(MAX) NULL,
	STRING_40 NVARCHAR(MAX) NULL,
	STRING_41 NVARCHAR(MAX) NULL,
	STRING_42 NVARCHAR(MAX) NULL,
	STRING_43 NVARCHAR(MAX) NULL,
	STRING_44 NVARCHAR(MAX) NULL,
	STRING_45 NVARCHAR(MAX) NULL,
	STRING_46 NVARCHAR(MAX) NULL,
	STRING_47 NVARCHAR(MAX) NULL,
	STRING_48 NVARCHAR(MAX) NULL,
	STRING_49 NVARCHAR(MAX) NULL,
	STRING_50 NVARCHAR(MAX) NULL,
	STRING_51 NVARCHAR(MAX) NULL,
	STRING_52 NVARCHAR(MAX) NULL,
	STRING_53 NVARCHAR(MAX) NULL,
	STRING_54 NVARCHAR(MAX) NULL,
	STRING_55 NVARCHAR(MAX) NULL,
	STRING_56 NVARCHAR(MAX) NULL,
	STRING_57 NVARCHAR(MAX) NULL,
	STRING_58 NVARCHAR(MAX) NULL,
	STRING_59 NVARCHAR(MAX) NULL,
	STRING_60 NVARCHAR(MAX) NULL,
	STRING_61 NVARCHAR(MAX) NULL,
	STRING_62 NVARCHAR(MAX) NULL,
	STRING_63 NVARCHAR(MAX) NULL,
	STRING_64 NVARCHAR(MAX) NULL,
	STRING_65 NVARCHAR(MAX) NULL,
	STRING_66 NVARCHAR(MAX) NULL,
	STRING_67 NVARCHAR(MAX) NULL,
	STRING_68 NVARCHAR(MAX) NULL,
	STRING_69 NVARCHAR(MAX) NULL,
	STRING_70 NVARCHAR(MAX) NULL,
	STRING_71 NVARCHAR(MAX) NULL,
	STRING_72 NVARCHAR(MAX) NULL,
	STRING_73 NVARCHAR(MAX) NULL,
	STRING_74 NVARCHAR(MAX) NULL,
	STRING_75 NVARCHAR(MAX) NULL,
)
GO

ALTER TABLE CMT_SOURCE_TABLE
	ADD CONSTRAINT PK_CMT_SOURCE_TABLE PRIMARY KEY(OBJECT_ID)
GO

ALTER TABLE CMT_METADATA_ELEMENT
	ADD STATUS TINYINT NOT NULL

ALTER TABLE CMT_METADATA_ELEMENT
	ADD CONSTRAINT AK_CMT_METADATA_ELEMENT_NAME_COUNTRY_ID UNIQUE(NAME,COUNTRY_ID)
GO

ALTER TABLE CMT_METADATA_ELEMENT
	ADD VALUE_LIST_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_VALUE_LIST_CMT_METADATA_ELEMENT
		REFERENCES CMT_VALUE_LIST(OBJECT_ID)
GO


CREATE TABLE CMT_CHANNEL(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_CHANNEL_OBJECT_ID DEFAULT(NEWSEQUENTIALID()),
	NAME NVARCHAR(200) NOT NULL,
)
GO

ALTER TABLE CMT_CHANNEL
	ADD CONSTRAINT PK_CMT_CHANNEL PRIMARY KEY(OBJECT_ID)
GO

ALTER TABLE CMT_METADATA_SCHEMA
	ADD CHANNEL_ID UNIQUEIDENTIFIER NULL
GO

ALTER TABLE CMT_METADATA_SCHEMA
DROP CONSTRAINT FK_CMT_CHANNEL_CMT_METADATA_SCHEMA
GO

ALTER TABLE CMT_METADATA_SCHEMA
	ADD CONSTRAINT FK_CMT_CHANNEL_CMT_METADATA_SCHEMA FOREIGN KEY(CHANNEL_ID)
		REFERENCES CMT_CHANNEL(OBJECT_ID)
GO

ALTER TABLE CMT_CAMPAIGN
	ADD [START_DATE] DATE NULL,
	[END_DATE] DATE NULL
GO

ALTER TABLE CMT_IMPORT
	ADD CHANNEL_ID UNIQUEIDENTIFIER NULL
GO

ALTER TABLE CMT_IMPORT
	ADD CONSTRAINT FK_CMT_CHANNEL_CMT_IMPORT FOREIGN KEY(CHANNEL_ID)
		REFERENCES CMT_CHANNEL(OBJECT_ID)
GO

CREATE TABLE CMT_CAMPAIGN_CHANNEL(
	CAMPAIGN_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_CAMPAIGN_CMT_CAMPAIGN_CHANNEL FOREIGN KEY
		REFERENCES CMT_CAMPAIGN(OBJECT_ID),
	CHANNEL_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT FK_CMT_CHANNEL_CMT_CAMPAIGN_CHANNEL FOREIGN KEY
		REFERENCES CMT_CHANNEL(OBJECT_ID)
)
GO

ALTER TABLE CMT_CAMPAIGN_IMPORT
	DROP CONSTRAINT FK_CMT_METADATA_SCHEMA_CMT_CAMPAIGN_IMPORT
GO

ALTER TABLE CMT_CAMPAIGN_IMPORT
	DROP COLUMN [SCHEMA_ID]
GO

ALTER TABLE CMT_CAMPAIGN_CHANNEL
	ADD CONSTRAINT PK_CMT_CAMPAIGN_CHANNEL PRIMARY KEY(CAMPAIGN_ID,CHANNEL_ID)
GO

ALTER VIEW [dbo].[CMT_VIEW_SCHEMA_TREE] AS
WITH VALUE_LIST_HIERARCHY AS
(
	SELECT
		V.OBJECT_ID,
		V.TEXT_VALUE PARENT_NAME,
		V.TEXT_VALUE NAME,
		4 TYPE,
		CAST(NULL AS uniqueidentifier) PARENT_ID,
		V.VALUE_LIST_ID AS VALUE_LIST_ID,
		V.CHILD_LIST_ID PARENT_LIST_ID,
		V.OBJECT_ID [ROOT_ID]
	FROM CMT_VALUE V
	UNION ALL
	SELECT
		V.OBJECT_ID,
		VLH.NAME PARENT_NAME,
		V.TEXT_VALUE,
		4 TYPE,
		VLH.OBJECT_ID,
		VLH.VALUE_LIST_ID,
		V.CHILD_LIST_ID,
		VLH.ROOT_ID
	FROM VALUE_LIST_HIERARCHY VLH
	INNER JOIN CMT_VALUE V
		ON VLH.PARENT_LIST_ID = V.VALUE_LIST_ID
),
TRANSLATED_VALUES AS(
	SELECT 
		ROOT_ID,
		--VLH.NAME,
		C.OBJECT_ID COUNTRY_ID,
		COUNT(distinct v.OBJECT_ID) [ALL],
		SUM( CASE WHEN VD.OBJECT_ID IS NOT NULL THEN 1 ELSE 0 END) TRANSLATED 
	FROM VALUE_LIST_HIERARCHY VLH
	INNER JOIN CMT_VALUE V 
		ON V.OBJECT_ID = VLH.OBJECT_ID
	CROSS JOIN CMT_COUNTRY C 
	LEFT JOIN CMT_VALUE_DETAIL VD
		ON VD.VALUE_ID = V.OBJECT_ID AND C.OBJECT_ID = VD.COUNTRY_ID
	GROUP BY 
		ROOT_ID,
		C.OBJECT_ID
)

SELECT D.*, C.CODE COUNTRY_CODE FROM (
SELECT 
	V.OBJECT_ID, V.TEXT_VALUE NAME, TV.[ALL] ALL_VALUES, TV.TRANSLATED LOCAL_VALUES, TV.COUNTRY_ID,
	3 TYPE,COALESCE(VLH.PARENT_ID,E.OBJECT_ID) PARENT_ID, NULL CHANNEL, CAST(NULL AS BIT) IS_ACTIVE 
FROM TRANSLATED_VALUES TV
INNER JOIN VALUE_LIST_HIERARCHY VLH ON VLH.OBJECT_ID = TV.ROOT_ID
INNER JOIN CMT_VALUE V ON V.OBJECT_ID =TV.ROOT_ID
INNER JOIN CMT_METADATA_ELEMENT E ON E.VALUE_LIST_ID = VLH.VALUE_LIST_ID
UNION ALL
SELECT S.OBJECT_ID,S.NAME,NULL,NULL,S.COUNTRY_ID,1,NULL, C.NAME,S.IS_ACTIVE FROM CMT_METADATA_SCHEMA S
LEFT JOIN CMT_CHANNEL C ON C.OBJECT_ID = S.CHANNEL_ID
UNION ALL
SELECT E.OBJECT_ID, NAME, NULL, NULL, NULL,2,SE.SCHEMA_ID, NULL, NULL  FROM CMT_METADATA_ELEMENT E
INNER JOIN CMT_METADATA_SCHEMA_ELEMENT SE ON SE.ELEMENT_ID = E.OBJECT_ID 
) D
left JOIN CMT_COUNTRY C ON C.OBJECT_ID = D.COUNTRY_ID


GO

ALTER VIEW [dbo].[CMT_VIEW_SCHEMA_TREE] AS
WITH VALUE_LIST_HIERARCHY AS
(
	SELECT
		V.OBJECT_ID,
		V.TEXT_VALUE PARENT_NAME,
		V.TEXT_VALUE NAME,
		4 TYPE,
		CAST(NULL AS uniqueidentifier) PARENT_ID,
		V.VALUE_LIST_ID AS VALUE_LIST_ID,
		V.CHILD_LIST_ID PARENT_LIST_ID,
		V.OBJECT_ID [ROOT_ID],
		E.OBJECT_ID AS ELEMENT_ID
	FROM CMT_VALUE V
	left JOIN CMT_METADATA_ELEMENT E ON E.VALUE_LIST_ID = V.VALUE_LIST_ID
	UNION ALL
	SELECT
		V.OBJECT_ID,
		VLH.NAME PARENT_NAME,
		V.TEXT_VALUE,
		4 TYPE,
		VLH.OBJECT_ID,
		VLH.VALUE_LIST_ID,
		V.CHILD_LIST_ID,
		VLH.ROOT_ID,
		VLH.ELEMENT_ID
	FROM VALUE_LIST_HIERARCHY VLH
	INNER JOIN CMT_VALUE V
		ON VLH.PARENT_LIST_ID = V.VALUE_LIST_ID
),
TRANSLATED_VALUES AS(
	SELECT
		SE.SCHEMA_ID,
		E.OBJECT_ID ELEMENT_ID, 
		ROOT_ID,
		--VLH.NAME,
		C.OBJECT_ID COUNTRY_ID,
		COUNT(distinct v.OBJECT_ID) [ALL],
		SUM( CASE WHEN VD.OBJECT_ID IS NOT NULL THEN 1 ELSE 0 END) TRANSLATED
	FROM VALUE_LIST_HIERARCHY VLH
	LEFT JOIN CMT_METADATA_ELEMENT E ON E.OBJECT_ID = VLH.ELEMENT_ID
	CROSS JOIN CMT_COUNTRY C 
	LEFT JOIN CMT_METADATA_SCHEMA_ELEMENT SE ON SE.ELEMENT_ID = VLH.ELEMENT_ID
	INNER JOIN CMT_VALUE V 
		ON V.OBJECT_ID = VLH.OBJECT_ID
	LEFT JOIN CMT_VALUE_DETAIL VD
		ON VD.VALUE_ID = V.OBJECT_ID AND C.OBJECT_ID = VD.COUNTRY_ID
	GROUP BY 
	ROLLUP(c.object_id,se.schema_id,E.OBJECT_ID,ROOT_ID)

)

SELECT distinct D.*
, C.CODE COUNTRY_CODE 
FROM (
SELECT 
	VLH.OBJECT_ID, VLH.NAME, TV.[ALL] ALL_VALUES, TV.TRANSLATED LOCAL_VALUES, TV.COUNTRY_ID,
	3 TYPE,COALESCE(VLH.PARENT_ID,VLH.ELEMENT_ID) PARENT_ID, NULL CHANNEL, CAST(NULL AS BIT) IS_ACTIVE 
FROM TRANSLATED_VALUES TV
INNER JOIN VALUE_LIST_HIERARCHY VLH ON VLH.OBJECT_ID = TV.ROOT_ID 
WHERE TV.country_id IS NOT NULL and tv.ROOT_ID is not null
and COALESCE(VLH.PARENT_ID,VLH.ELEMENT_ID) is not null

UNION ALL
SELECT S.OBJECT_ID,S.NAME,TV.[ALL],TV.TRANSLATED,TV.COUNTRY_ID,1,NULL, C.NAME,S.IS_ACTIVE FROM CMT_METADATA_SCHEMA S
INNER JOIN CMT_METADATA_SCHEMA_COUNTRY SC ON SC.SCHEMA_ID = S.OBJECT_ID
INNER JOIN TRANSLATED_VALUES TV ON S.OBJECT_ID = TV.SCHEMA_ID and sc.COUNTRY_ID = tv.COUNTRY_ID
LEFT JOIN CMT_CHANNEL C ON C.OBJECT_ID = S.CHANNEL_ID
WHERE tv.ROOT_ID is not null
UNION ALL
SELECT E.OBJECT_ID, NAME,TV.[ALL],TV.TRANSLATED, TV.COUNTRY_ID,2,SE.SCHEMA_ID, NULL, NULL  FROM CMT_METADATA_ELEMENT E
INNER JOIN TRANSLATED_VALUES TV ON E.OBJECT_ID = TV.ELEMENT_ID
INNER JOIN CMT_METADATA_SCHEMA_ELEMENT SE ON SE.ELEMENT_ID = E.OBJECT_ID 
WHERE TV.ROOT_ID IS NULL
) D
left JOIN CMT_COUNTRY C ON C.OBJECT_ID = D.COUNTRY_ID
go





CREATE TABLE [dbo].[CMT_METADATA_SCHEMA_COUNTRY](
	[SCHEMA_ID] [uniqueidentifier] NOT NULL,
	[COUNTRY_ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CMT_METADATA_SCHEMA_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[SCHEMA_ID] ASC,
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[CMT_METADATA_SCHEMA_COUNTRY]  WITH CHECK ADD  CONSTRAINT [FK_CMT_COUNTRY_CMT_METADATA_SCHEMA_COUNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[CMT_Country] ([OBJECT_ID])
GO

ALTER TABLE [dbo].[CMT_METADATA_SCHEMA_COUNTRY] CHECK CONSTRAINT [FK_CMT_COUNTRY_CMT_METADATA_SCHEMA_COUNTRY]
GO

ALTER TABLE [dbo].[CMT_METADATA_SCHEMA_COUNTRY]  WITH CHECK ADD  CONSTRAINT [FK_CMT_METADATA_SCHEMA_CMT_METADATA_SCHEMA_COUNTRY] FOREIGN KEY([SCHEMA_ID])
REFERENCES [dbo].CMT_METADATA_SCHEMA ([OBJECT_ID])
GO

ALTER TABLE [dbo].[CMT_METADATA_SCHEMA_COUNTRY] CHECK CONSTRAINT [FK_CMT_METADATA_SCHEMA_CMT_METADATA_SCHEMA_COUNTRY]
GO


ALTER TABLE [dbo].[CMT_METADATA_SCHEMA]
DROP CONSTRAINT FK_CMT_COUNTRY_CMT_METADATA_SCHEMA
GO

ALTER TABLE [dbo].[CMT_METADATA_SCHEMA]
DROP COLUMN [COUNTRY_ID]
GO

ALTER TABLE CMT_VALUE
	ADD CONSTRAINT AK_CMT_VALUE_CHILD_LIST_ID UNIQUE(CHILD_LIST_ID)
GO

CREATE TABLE CMT_METADATA_ELEMENT_GROUP(
	OBJECT_ID UNIQUEIDENTIFIER NOT NULL CONSTRAINT DF_CMT_ELEMENT_GROUP DEFAULT(NEWSEQUENTIALID()),
	NAME NVARCHAR(50) NULL
)

ALTER TABLE CMT_METADATA_ELEMENT_GROUP
	ADD CONSTRAINT PK_CMT_METADATA_ELEMENT_GROUP PRIMARY KEY(OBJECT_ID)
GO

ALTER TABLE CMT_METADATA_ELEMENT
	ADD [DESCRIPTION] NVARCHAR(MAX) NULL,
	GROUP_ID UNIQUEIDENTIFIER NULL CONSTRAINT FK_CMT_METADATA_ELEMENT_GROUP_CMT_METADATA_ELEMENT FOREIGN KEY
		REFERENCES CMT_METADATA_ELEMENT_GROUP(OBJECT_ID)
GO

ALTER TABLE CMT_METADATA_SCHEMA_ELEMENT
	ALTER COLUMN SCHEMA_ID UNIQUEIDENTIFIER NOT NULL
GO

ALTER TABLE CMT_METADATA_SCHEMA_ELEMENT
	ADD CONSTRAINT AK_CMT_METADATA_SCHEMA_ELEMENT UNIQUE(SCHEMA_ID,ELEMENT_ID)
GO


ALTER VIEW [dbo].[CMT_VIEW_SCHEMA_TREE] AS
WITH VALUE_LIST_HIERARCHY AS
(
	SELECT
		V.OBJECT_ID,
		V.TEXT_VALUE PARENT_NAME,
		V.TEXT_VALUE NAME,
		4 TYPE,
		CAST(NULL AS uniqueidentifier) PARENT_ID,
		V.VALUE_LIST_ID AS VALUE_LIST_ID,
		V.CHILD_LIST_ID PARENT_LIST_ID,
		V.OBJECT_ID [ROOT_ID],
		E.OBJECT_ID AS ELEMENT_ID
	FROM CMT_VALUE V
	left JOIN CMT_METADATA_ELEMENT E ON E.VALUE_LIST_ID = V.VALUE_LIST_ID
	UNION ALL
	SELECT
		V.OBJECT_ID,
		VLH.NAME PARENT_NAME,
		V.TEXT_VALUE,
		4 TYPE,
		VLH.OBJECT_ID,
		VLH.VALUE_LIST_ID,
		V.CHILD_LIST_ID,
		VLH.ROOT_ID,
		VLH.ELEMENT_ID
	FROM VALUE_LIST_HIERARCHY VLH
	INNER JOIN CMT_VALUE V
		ON VLH.PARENT_LIST_ID = V.VALUE_LIST_ID
),
TRANSLATED_VALUES AS(
	SELECT
		SE.SCHEMA_ID,
		E.OBJECT_ID ELEMENT_ID, 
		ROOT_ID,
		C.OBJECT_ID COUNTRY_ID,
		COUNT(distinct v.OBJECT_ID) [ALL],
		SUM( CASE WHEN VD.OBJECT_ID IS NOT NULL THEN 1 ELSE 0 END) TRANSLATED
	FROM VALUE_LIST_HIERARCHY VLH
	LEFT JOIN CMT_METADATA_ELEMENT E ON E.OBJECT_ID = VLH.ELEMENT_ID
	CROSS JOIN CMT_COUNTRY C 
	LEFT JOIN CMT_METADATA_SCHEMA_ELEMENT SE ON SE.ELEMENT_ID = VLH.ELEMENT_ID
	INNER JOIN CMT_VALUE V 
		ON V.OBJECT_ID = VLH.OBJECT_ID
	LEFT JOIN CMT_VALUE_DETAIL VD
		ON VD.VALUE_ID = V.OBJECT_ID AND C.OBJECT_ID = VD.COUNTRY_ID
	GROUP BY 
	ROLLUP(c.object_id,se.schema_id,E.OBJECT_ID,ROOT_ID)

)

SELECT distinct D.*
, C.CODE COUNTRY_CODE 
FROM (
SELECT 
	VLH.OBJECT_ID, VLH.NAME, TV.[ALL] ALL_VALUES, TV.TRANSLATED LOCAL_VALUES, TV.COUNTRY_ID,
	3 TYPE,COALESCE(VLH.PARENT_ID,VLH.ELEMENT_ID) PARENT_ID, NULL CHANNEL, CAST(NULL AS BIT) IS_ACTIVE,
	vd.VALUE LOCAL_VALUE 
FROM TRANSLATED_VALUES TV
INNER JOIN VALUE_LIST_HIERARCHY VLH ON VLH.OBJECT_ID = TV.ROOT_ID
left join CMT_VALUE_DETAIL vd on vd.VALUE_id = vlh.OBJECT_ID and vd.COUNTRY_ID = tv.COUNTRY_ID 
WHERE TV.country_id IS NOT NULL and tv.ROOT_ID is not null
and COALESCE(VLH.PARENT_ID,VLH.ELEMENT_ID) is not null

UNION ALL
SELECT S.OBJECT_ID,S.NAME,TV.[ALL],TV.TRANSLATED,TV.COUNTRY_ID,1,NULL, C.NAME,S.IS_ACTIVE, NULL
 FROM CMT_METADATA_SCHEMA S
INNER JOIN CMT_METADATA_SCHEMA_COUNTRY SC ON SC.SCHEMA_ID = S.OBJECT_ID
INNER JOIN TRANSLATED_VALUES TV ON S.OBJECT_ID = TV.SCHEMA_ID and sc.COUNTRY_ID = tv.COUNTRY_ID
LEFT JOIN CMT_CHANNEL C ON C.OBJECT_ID = S.CHANNEL_ID
WHERE tv.ROOT_ID is not null
UNION ALL
SELECT E.OBJECT_ID, NAME,TV.[ALL],TV.TRANSLATED, TV.COUNTRY_ID,2,SE.SCHEMA_ID, NULL, NULL,NULL  FROM CMT_METADATA_ELEMENT E
INNER JOIN TRANSLATED_VALUES TV ON E.OBJECT_ID = TV.ELEMENT_ID
INNER JOIN CMT_METADATA_SCHEMA_ELEMENT SE ON SE.ELEMENT_ID = E.OBJECT_ID 
WHERE TV.ROOT_ID IS NULL
) D
left JOIN CMT_COUNTRY C ON C.OBJECT_ID = D.COUNTRY_ID

GO

exec sp_rename 'dbo.CMT_METADATA_SCHEMA_ELEMENT_GROUP', 'CMT_METADATA_GROUP'
GO

ALTER TABLE [dbo].[CMT_METADATA_SCHEMA_ELEMENT] DROP CONSTRAINT [FK_CMT_METADATA_SCHEMA_ELEMENT_GROUP_CMT_METADATA_SCHEMA_ELEMENT]
GO

ALTER TABLE [dbo].[CMT_METADATA_SCHEMA_ELEMENT]  WITH CHECK ADD  CONSTRAINT [FK_CMT_METADATA_GROUP_CMT_METADATA_SCHEMA_ELEMENT] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[CMT_METADATA_GROUP] ([OBJECT_ID])
GO

ALTER TABLE [dbo].[CMT_METADATA_SCHEMA_ELEMENT] CHECK CONSTRAINT [FK_CMT_METADATA_GROUP_CMT_METADATA_SCHEMA_ELEMENT]
GO

ALTER TABLE CMT_METADATA_ELEMENT
	DROP CONSTRAINT FK_CMT_METADATA_ELEMENT_GROUP_CMT_METADATA_ELEMENT
GO

ALTER TABLE CMT_METADATA_ELEMENT
	ADD CONSTRAINT FK_CMT_METADATA_GROUP_CMT_METADATA_ELEMENT FOREIGN KEY(GROUP_ID)
		REFERENCES CMT_METADATA_GROUP(OBJECT_ID)
GO

DROP TABLE CMT_METADATA_ELEMENT_GROUP
GO
