.pagination {
	height: 40px;
	color: rgb(117, 117, 117);
	padding-top: 6px;
}

.pagination .pagination-pages {
	display: inline-block;
	line-height: 28px;
	vertical-align: top;
}

.pagination .pagination-pages span,
mat-select {
	margin-right: 20px;
}

.pagination .pagination-pages span {
	line-height: 36px;
	display: inline-block;
	vertical-align: text-top;
}

.pagination .pagination-buttons {
	display: inline-block;
	padding-top: 7px;
	font-size: 28px;
	margin-right: 20px;
}

.pagination .pagination-buttons .material-icons {
	cursor: pointer;
}
